# Application bindings
$terminal = uwsm-app -- xdg-terminal-exec
$browser = omarchy-launch-browser

bindd = SUPER, L, Lock, exec, omarchy-lock-screen

bindd = SUPER, RETURN, Terminal, exec, $terminal --dir="$(omarchy-cmd-terminal-cwd)"
bindd = SUPER SHIFT, F, File manager, exec, uwsm-app -- nautilus --new-window
bindd = SUPER SHIFT, B, Browser, exec, $browser
bindd = SUPER SHIFT ALT, B, Browser (private), exec, $browser --private
bindd = SUPER SHIFT, M, Music, exec, omarchy-launch-or-focus spotify
bindd = SUPER SHIFT, N, Editor, exec, omarchy-launch-editor
bindd = SUPER SHIFT, T, Activity, exec, omarchy-launch-tui btop
bindd = SUPER SHIFT, D, Docker, exec, omarchy-launch-tui lazydocker
bindd = SUPER SHIFT, G, Signal, exec, omarchy-launch-or-focus signal "uwsm-app -- signal-desktop"
bindd = SUPER SHIFT ALT, G, Telegram, exec, omarchy-launch-or-focus telegram "uwsm-app -- Telegram"
bindd = SUPER SHIFT, O, Obsidian, exec, omarchy-launch-or-focus "^obsidian$" "uwsm-app -- obsidian -disable-gpu --enable-wayland-ime"
# bindd = SUPER SHIFT, SLASH, Passwords, exec, uwsm-app -- 1password

# If your web app url contains #, type it as ## to prevent hyperland treat it as comments
bindd = SUPER SHIFT, A, Gemini, exec, omarchy-launch-webapp "https://gemini.google.com"
bindd = SUPER SHIFT ALT, A, Claude, exec, omarchy-launch-webapp "https://claude.ai"
bindd = SUPER SHIFT, C, Calendar, exec, omarchy-launch-webapp "https://calendar.google.com"
bindd = SUPER SHIFT, E, Email, exec, omarchy-launch-webapp "https://gmail.com"
bindd = SUPER SHIFT, Y, YouTube, exec, omarchy-launch-webapp "https://youtube.com/"
bindd = SUPER SHIFT CTRL, G, Google Messages, exec, omarchy-launch-or-focus-webapp "Google Messages" "https://messages.google.com/web/conversations"
bindd = SUPER SHIFT, X, Wafrn, exec, omarchy-launch-webapp "https://app.wafrn.net/"
bindd = SUPER SHIFT ALT, X, Wafrn Post, exec, omarchy-launch-webapp "https://app.wafrn.net/editor"

bindd = SUPER, code:19, Switch to workspace 10, workspace, 10

unbind = SUPER, mouse_down
unbind = SUPER, mouse_up

{{ if eq .device_type "desktop" -}}
bindd = SUPER, mouse_down, Switch to previous workspace, split-cycleworkspaces, prev
bindd = SUPER, mouse_up, Switch to next workspace, split-cycleworkspaces, next

unbind = SUPER SHIFT, TAB
unbind = SUPER, TAB
bindd = SUPER SHIFT, TAB, Switch to previous workspace, split-cycleworkspaces, prev
bindd = SUPER, TAB, Switch to next workspace, split-cycleworkspaces, next
{{ else }}
bindd = SUPER, mouse_down, Switch to previous workspace, workspace, prev
bindd = SUPER, mouse_up, Switch to next workspace, workspace, next
bindd = SUPER, BracketLeft, Switch to previous workspace, workspace, prev
bindd = SUPER, BracketRight, Switch to next workspace, workspace, next
{{ end -}}

# Overwrite existing bindings, like putting Omarchy Menu on Super + Space
# unbind = SUPER, SPACE
# bindd = SUPER, SPACE, Omarchy menu, exec, omarchy-menu
