{{ if eq .device_type "desktop" -}}
plugin {
    split-monitor-workspaces {
        count = 5
        keep_focused = 0
        enable_notifications = 0
        enable_persistent_workspaces = 1
    }
}

bindd = SUPER SHIFT CTRL, LEFT, Move window to monitor left, split-changemonitor, prev
bindd = SUPER SHIFT CTRL, RIGHT, Move window to monitor right, split-changemonitor, next

unbind = SUPER, TAB
bindd = SUPER, TAB, Next workspace, split-cycleworkspaces, next

unbind = SUPER SHIFT, TAB
bindd = SUPER SHIFT, TAB, Previous workspace, split-cycleworkspaces, prev
{{ end -}}
