[Desktop Entry]
Version=1.0
Name=Syncthing
Comment=Syncthing
Exec=omarchy-launch-webapp http://127.0.0.1:8384
Terminal=false
Type=Application
Icon=/home/jeremiah/.local/share/applications/icons/Syncthing.png
StartupNotify=true
