[language-server]
harper-ls = { command = "harper-ls", args = ["--stdio"] }
ty = { command = "ty", args = ["server"] }

[[language]]
name = "markdown"
language-servers = ["marksman", "harper-ls"]
soft-wrap.enable = true
soft-wrap.wrap-at-text-width = true
text-width = 80

[[language]]
name = "astro"
scope = "source.astro"
injection-regex = "astro"
file-types = ["astro"]
language-servers = ["astro-ls"]
formatter = { command = "prettier", args = [
  "--plugin",
  "prettier-plugin-astro",
  "--parser",
  "astro",
] }
auto-format = true

[[language]]
name = "json"
formatter = { command = "prettier", args = ["--parser", "json"] }

[[language]]
name = "python"
language-servers = ["ty", "ruff"]
formatter = { command = "ruff", args = ["format", "-"]}
