@import "../omarchy/current/theme/waybar.css";

* {
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 12px;
  transition: all 0.5s ease;
}

window#waybar {
  background: @background;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  min-width: 0;
  padding: 0 10px 0px 5px;
  margin: 0;
  background-color: transparent;
}

#workspaces button.active {
  background-color: alpha(@foreground, 0.2)
}

#workspaces button.empty {
  opacity: 0.5;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#tray,
#custom-expand-icon {
  margin: 0 5px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}